header{
    border-radius: 20px;  
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(#9933cc, #33b5e5, #0099cc);
}

nav {
    position: absolute;
    left: 2%;
    color:#1bfff4;
    text-shadow: 2px 2px 5px #95389E;
}
.searcher{
    position: absolute;
    left: 80%;
    top: 20px;
}  

.sandbox{
    position: absolute;
    left: 45%;
    width: 10%;
}

body{
    background-color: rgb(48, 47, 47);
}

article{
    border-radius: 20px; 
    border-style: solid;
    border-color:#0099cc;
    background-image: url(rainw.avif);
    background-size:100%; 
    min-height: 700px ;
}

.signup{
    position: absolute;
    left: 34%;
    background-color: #cccccc;
    background-image: linear-gradient(#0099cc, #33b5e5, #9933cc);
    border-radius: 20px;
    width: 32%;
    height: 325px;
    text-align: center;
}

.twitter-timeline{
    float:left;
    width: 32%;
}
    
.grid{
        float: right;
        background-color: #cccccc;
        background-image: linear-gradient(#0099cc, #33b5e5, #9933cc);
        border-radius: 20px;
        width: 32%;
        height: 325px;
}

*{
    box-sizing: border-box;
}

.box{
    float: left;
    width: 32%;
    padding: 15px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
