/* font-family: 'Caveat', cursive;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
*/
/*---------------------------------------HEADER STYLES--------------------------------------*/
h1{
    text-align: center;
    font-family: 'Lobster Two';
}

.wrapper {
    display: grid;
        grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
        min-height: 80vh;
        background-color: #2C3333;
    }

.header {
    grid-area: header;
    border: 5px ridge;
    border-radius: 20px;  
    border-color: #0E8388;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(#9933cc, #33b5e5, #0099cc);
}

nav {
    width: 80%;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #555;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #aaa;
    height: 1px;
}
nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

.nav-item{
    font-family: 'Caveat';
    font-size: larger;
}

nav a.navbar-brand:hover{
    color: #fff;
}
/*-----------------------------------------------BODY STYLES---------------------------------------*/

.container{
    display: block;
}

.main{
    grid-area: main;
    border: 5px ridge;
    border-radius: 20px; 
    border-color:#2E4F4F;
    background-color: #0E8388;
    min-height: 700px ;
    color: white;
    display: block;
}

h2{ 
    font-family: 'caveat';
    color: aqua;
    opacity: 1;
}

h3{ 
    font-family: 'caveat';
    color: aqua;
    opacity: 1;
}

p::first-letter{
    font-family: 'Lobster Two';
    font-size: xx-large;
    color: fuchsia;
}

.hdrbg{
    white-space: pre;
    background-color: rgb(65, 65, 65, .8);
    border-radius: 20px;
    width: 100%;
}

.pbg{
    padding: 5px;
    border: 5px ridge;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, .7);
    border-color: #CBE4DE;
    border-width: 3px;
    text-indent: 1.5rem;
}

.me{
    border: 5px ridge;
    border-radius: 30px;
    border-color: #CBE4DE;
    min-width: 150px;
    width: 32%;
    max-width: 350px;
}

col{
    min-width: 100px;
}

@media (min-width:400px) {
    .col {
        grid-template-columns: repeat(1fr);
    }
}

@media (min-width:600px) {
    .col {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 900px) {
    .col {
        grid-template-columns: repeat(3,1fr);
    }
}

/*------------------------------------------------Footer styles-----------------------------------------------*/

.links{
    width: 100px;
    height: 100px;
}

.footer {
    grid-area: footer;
    background-image: linear-gradient(#0099cc, #33b5e5, #9933cc);
    border: 5px ridge;
    border-radius: 20px;
    border-color: #0E8388;
    min-width: 400px;
    width: 100%;
    height: 325px;
}

/*keyframes*/

@-webkit-keyframes fill {
    0% {
    width: 0%;
    height: 1px;
    }
    50% {
    width: 100%;
    height: 1px;
    }
    100% {
    width: 100%;
    height: 100%;
    background: #333;
    }
}